<div class="div-expand-md body" [formGroup]="loginForm">
  <form class="for">
    <div class="">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control in" id="inputEmail3" formControlName="email" name="email" required
               placeholder="exampel@gmail.com">
      </div>
    </div>
    <div class="">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class=" pass form-control in" id="inputPassword3" formControlName="password" required
               placeholder="password">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-2 m-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            remember me!
          </label>
        </div>
      </div>
    </div>
    <button (click)="sendData()" [disabled]="loginForm.invalid"
            type="submit" class="btn btn-primary">log in
    </button>
    <div class="d-flex justify-content-between">
      <a class="link active a">forget password?</a>
      <a class="link active a" routerLink="/auth/signup">sign up</a>
    </div>
  </form>


</div>
