<header>
  <div>
    <ul>
      <li><a href="" >home</a></li>
      <li><a href="">home</a></li>
      <li><a href="">home</a></li>
      <li><a href="">home</a></li>
      <li><a href="">home</a></li>
    </ul>
    <input placeholder="search" type="text">
    <div>
      <div> <h1>logo</h1></div>
      <div> <div>
        <a routerLink="">login</a>
        <a routerLink="">signup</a>
        <a routerLink="">basket</a>
      </div></div>
    </div>
  </div>
  <button class=""></button>
</header>
